# üõ†Ô∏è FUNCIONES



1.   FUNCI√ìN B√ÅSICA

In [ ]:
def saludo():
    print("Hola, mundo!")

# Llamamos a la funci√≥n
valor_devuelto = saludo()

print(valor_devuelto)  # Esto imprimir√° "None"

Hola, mundo!
None

In [ ]:
# no estoy definiendo ningun parametro
def my_print():
  print('This is my print')
  print('This is my print')

In [ ]:
my_print()

This is my print
This is my print

In [ ]:
# definiendo un argumento de la funcion
def my_print(text):
  print('This is my text :',text)

In [ ]:
my_print("hola")

This is my text : hola

2. OPERACIONES UN POCO M√ÅS COMPLEJAS DENTRO DE UNA FUNCI√ìN

In [ ]:
sum = 0
for x in range(1,10):
  sum += x
  #print(x)
print(sum)

45

In [ ]:
# operaciones un poco mas complejas dentro de una funcion
# puedo asignar el valor de un argumento de la funciom
def suma_range(inicial,final,paso= 2):
  sum = 0
  for x in range(inicial,final,paso):
    sum += x
    print(sum)

In [ ]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [ ]:
suma_range(1,10,3)

1
5
12

3. UTILIZAR RETURN Y MULTIPLES RESULTADOS

In [ ]:
a = 20
b = 40

def mi_suma(a,b):

  # print(f"Los valores Ingresados son {a} y {b}")
  if a > b :
    resultado = a - b
  else:
        resultado = a + b

  #print(a + b)
  return a,b ,resultado

In [ ]:
variable = mi_suma(20,40)
variable

(20, 40, 60)

In [ ]:
a,b,c = variable
print(a)

20

In [ ]:
print(variable[0])

20

In [ ]:
# Varias operaciones
def volumen(largo,ancho,profund):
  return largo * ancho * profund

In [ ]:
resultado = volumen(10,3,3)
resultado

90



4.   UNA FUNCI√ìN DENTRO DE OTRA

In [ ]:
# Definir funciones de operaciones matem√°ticas
def suma(a, b):
    return a + b

def resta(a, b):
    return a - b

# Definir una funci√≥n que aplica una operaci√≥n a dos n√∫meros
def aplicar_operacion(operacion, a, b):
    resultado = operacion(a, b)
    return resultado

# Usar la funci√≥n con diferentes operaciones
resultado_suma = aplicar_operacion(suma, 5, 3)
print("Resultado de la suma:", resultado_suma)  # Esto imprimir√° "Resultado de la suma: 8"

resultado_resta = aplicar_operacion(resta, 10, 4)
print("Resultado de la resta:", resultado_resta)  # Esto imprimir√° "Resultado de la resta: 6"

Resultado de la suma: 8
Resultado de la resta: 6

5.   LISTAS Y DICCIONARIOS COMO ARGUMENTOS O PAR√ÅMETROS

In [ ]:
my_list = [1,2,3]

def suma_list(lista):
  sum = 0
  for i in lista:
    sum += i
    print(i)
  return sum

In [ ]:
my_dict = {
    "valor" : 1,
    "valor2" : 2,
    "valor3" :3
}

In [ ]:
def suma_dict(dictionarie):
  sum = 0
  for i in dictionarie:
    sum += dictionarie[i]
  return sum

In [ ]:
suma_dict(my_dict)

6

6.   PAR√ÅMETROS INDEFINIDOS

In [ ]:
def make_pizza(*toopings):
  """Print the list of toppings that have been requested."""
  print(toopings)

make_pizza('pepperoni')
make_pizza('mushrooms', 'green peppers', 'extra cheese')

('pepperoni',)
('mushrooms', 'green peppers', 'extra cheese')

In [ ]:
def suma_varios(*numeros):
  lista =[]
  for i in numeros:

    lista.append(i)
  return lista

In [ ]:
suma_varios(1,2,3)

[1, 2, 3]

In [ ]:
def build_profile(first, last, **user_info):
  """Build a dictionary containing everything we know about a user."""
  user_info['first_name'] = first
  user_info['last_name'] = last
  return user_info

user_profile = build_profile('albert', 'einstein',location='princeton',field='physics',age=80)
print(user_profile)

{'location': 'princeton', 'field': 'physics', 'age': 80, 'first_name': 'albert', 'last_name': 'einstein'}

In [ ]:
def imprimir_argumentos(**kwargs):
    for clave, valor in kwargs.items():
        print(f"Argumento clave: {clave}, Valor: {valor}")

# Ejemplo de uso
imprimir_argumentos(nombre="Juan", edad=30, ciudad="Ejemploville")

Argumento clave: nombre, Valor: Juan
Argumento clave: edad, Valor: 30
Argumento clave: ciudad, Valor: Ejemploville

# DECORADORES üéÑüéÖ

In [ ]:
def mi_decorador(funcion_original):
    def nueva_funcion(*args):
        print("Antes de ejecutar la funci√≥n")
        funcion_original(*args)
        print("Despu√©s de ejecutar la funci√≥n")
    return nueva_funcion

In [ ]:
@mi_decorador
def saludar(name1,name2):
  print(f"Hello {name1} and {name2}")

In [ ]:
saludar("camilo","claudia")

Antes de ejecutar la funci√≥n
Hello camilo and claudia
Despu√©s de ejecutar la funci√≥n

In [ ]:
list_comprehension = [i *2  for i in range(1,11) if i % 2 == 0]

In [ ]:
list_comprehension

[4, 8, 12, 16, 20]

In [ ]:
lista = []
for j   in range(1,11):
    j * 2
    if j   % 2 == 0:
      lista.append(j* 2)

print(lista)

[4, 8, 12, 16, 20]

In [ ]:
#numero = 1
dict_comprehension = {numero : numero ** 2 for numero in range(1,11) }

In [ ]:
dict_comprehension

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

SCOPE

In [ ]:
price = 100  # global

def incremento():
  price = 100 # declarada al interior de la funci√≥n
  price = price + 10
  result = price * 10 # si agregamos esta variable solo tendra contexto dentro de la funci√≥n
  print(price, result)

In [ ]:
incremento()

110 1100

FUNCIONES LAMBDA

[texto del enlace](https://runestone.academy/ns/books/published/fopp/_images/lambda.gif)

In [ ]:
def mult(x,y):
  return x * y

mult(10,10)

100

In [ ]:
import math
def root_square(*x):
  root = math.sqrt(*x)
  return root

root_square(4)

2.0

In [ ]:
mult_lambda = lambda x , y : x * y
mult_lambda(10,10)

100

In [ ]:
lamda_funcion = lambda x ,y, funcion :funcion( x * y )

In [ ]:
lamda_funcion(10,10,root_square)

10.0